<h1>Welcome to Tim's Image Sharer</h1>
<p>
  Here is a beautiful image I would like to share with you!
</p>
<img src="<%= @img %>">
<p>
  <%= @msg %>
</p>
<p>
  To visit my site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
