<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Image Sharer</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=images_path%>">Show All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%=new_image_path%>>New Image</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <h1> Welcome to Tim's Image Sharer</h1>
  <%= link_to "Show all images", images_path %><br/>
  <%= link_to "Add your favorite image", new_image_path %>
</main>
<footer class="footer">
  <div class="container">
    <span> This is my sticky footer </span>
  </div>
</footer>
