
<h1 id="page-header">
  All Images
</h1>
<%= link_to "Add your own images", new_image_path %>
<div class="row">
  <% @images.each do |img| %>
        <div class="col-sm-auto">
          <div class="card">
            <%=image_tag(img.url, size: 400, class: 'card-img-top mx-auto')%>
            <div class="card-block">
              <h3 class="card-title"><%= img.title %></h3>
            </div>
          </div>
        </div>
  <% end %>
</div>
